<%= form_for(sonde) do |f| %>
  <% if sonde.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sonde.errors.count, "error") %> prohibited this sonde from being saved:</h2>

      <ul>
      <% sonde.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :serie %>
    <%= f.text_field :serie %>
  </div>

  <div class="field">
    <%= f.label :modele %>
    <%= f.text_field :modele %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
