<p id="notice"><%= notice %></p>

<p>
  <strong>Numéro de série:</strong>
  <%= @sonde.serie %>
</p>

<p>
  <strong>Modèle:</strong>
  <%= @sonde.modele %>
</p>

<%= link_to 'Modifier', edit_sonde_path(@sonde) %> |
<%= link_to 'Retour', sondes_path %>
