<p id="notice"><%= notice %></p>

<h1>Etalons</h1>

<table class="table table-hover">
  <thead>
    <tr>
	  <th>Modele</th>
      <th>N° de Série</th>
	  <th>Marque</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etalons.each do |etalon| %>
      <tr>
	    <td class="col-md-3"><%= etalon.modele %></td>
        <td class="col-md-3"><%= etalon.serie %></td>
		<td class="col-md-3"><%= etalon.marque.name %></td>
        
        <td class="col-md-1"><%= link_to 'Afficher', etalon %></td>
        <td class="col-md-1"><%= link_to 'Modifier', edit_etalon_path(etalon) %></td>
        <td class="col-md-1"><%= link_to 'Supprimer', etalon, method: :delete, data: { confirm: 'Êtes-vous sûr?' } %></td>
      </tr>
	  
    <% end %>
  </tbody>
</table>
<% puts @etalons.inspect %>
<br>

<%= link_to 'Ajouter Etalon', new_etalon_path %>
