<p id="notice"><%= notice %></p>

<p>
  <strong>Numéro de Série:</strong>
  <%= @etalon.serie %>
</p>

<p>
  <strong>Modèle:</strong>
  <%= @etalon.modele %>
</p>

<p>
  <strong>Marque:</strong>
  <%= @etalon.marque.name %>
</p>
<%= link_to 'Modifier', edit_etalon_path(@etalon) %> |
<%= link_to 'Retour', etalons_path %>
